<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208045247907-1pbgbdcejalt54vt56q8kk4bd254qe8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208045247907-1pbgbdcejalt54vt56q8kk4bd254qe8d</string>
	<key>API_KEY</key>
	<string>AIzaSyBonObr35Sknk5Wkmt_NM7qYtV5Vuhfpgc</string>
	<key>GCM_SENDER_ID</key>
	<string>208045247907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMemmoApp</string>
	<key>PROJECT_ID</key>
	<string>fir-memo-app-81fa4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-memo-app-81fa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208045247907:ios:59e22312fbbab33f1d9e16</string>
</dict>
</plist>